
.controls-list{
    font-size: 20px;
    position: absolute;
    top: 80px;
    right: 0;
    width: 340px;
    height: 300px;
    /*border: 3px solid #73AD21;*/
    display: block;
}

.dynamic-info{
    font-size: 20px;
    position: absolute;
    top: 40px;
    left: 20;
    /*margin: auto;*/
    width: 340px;
    height: 300px;
    border: 3px solid #73AD21;
    display: block;
}

.title {
    font-size: 25px;
    position: absolute;
    top: 40px;
    left: 20;
}